
spring.datasource.url=jdbc:mysql://[url]:[port]/[db]?useSSL=true&serverSslCert=C:/ca-certificate.crt
spring.datasource.username=[user]
spring.datasource.password=[pass]
spring.datasource.driverClassName=com.mysql.jdbc.Driver
spring.datasource.testWhileIdle = true
spring.datasource.validationQuery = SELECT 1
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.hibernate.naming-strategy=org.hibernate.cfg.ImprovedNamingStrategy
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect 
